@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
  --first-color--: white;
  --second-color--: black;
  --third-color--: #cccc;
  --forth-color--: red;

}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--second-color--);
  overflow-x: hidden;
  width: 100%;
}
.main {
  background-image: url(ASSETS/Images/BACK.jpg);
  background-size: max(1200px, 100%);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
}
.main .box {
  background-color: var(--second-color--);
  opacity: 0.6;
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
}
nav {
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#img1 {
  position: relative;
  z-index: 1;
  width: 250px;
  color: var(--first-color--);
}
.main #btn1 {
  border: 1.5px solid var(--third-color--);
  background: none;
  color: var(--first-color--);
  padding: 7px 20px;
  font-weight: 500;
  margin: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.main #btn2 {
  background-color: var(--forth-color--);
  color: var(--first-color--);
  padding: 7px 30px;
  font-weight: 500;
  margin: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.hero {
  margin-top: 100px;
  height: calc(100%-104px);
  color: var(--first-color--);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-family: "Outfit", sans-serif;
  padding: 30px;
  gap: 20px;
}

.hero > :first-child {
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 200%;
}
.hero > :nth-child(2) {
  font-weight: 500;
  font-size: 30px;
  line-height: 125%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero > :nth-child(3) {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 7px;
  font-weight: 400;
  font-size: 24px;
}
.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#input1 {
  flex: 1;
  background: none;
  border: 1px solid var(--first-color--);
  border-radius: 5px;
  color: var(--first-color--);
  padding: 16px;
  width: 30vw;
  font-size: 17px;
}
#input1::placeholder {
  color: var(--third-color--);
}

#btn3 {
  background-color: var(--forth-color--);
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-weight: 800;
  font-size: 30px;
  min-width: 18vw;
  color: var(--first-color--);
  cursor: pointer;
}
/* .line-curve {
  margin-top: 100px;
  width: 100%;
  height: 100px;
  position: relative;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%, black);
  border-top-left-radius: 40% 40%;
  border-top-right-radius: 40% 40%;
  color: white;
  display: flex;
  align-items: end;
  font-size: 20px;
  overflow: hidden;
}

.line-curve::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px; /* thickness */
  /* background: linear-gradient(to right,rgba(33, 13, 22, 1) 16%,rgba(184, 40, 105, 1),rgba(229, 9, 20, 1),rgba(184, 40, 105, 1),rgba(33, 13, 22, 1) 84%);
  border-top-left-radius: 40% 40%;
  border-top-right-radius: 40% 40%;
} */
.sepration {
  margin-top: 60px;
  height: 1.5px;
  background-color: var(--forth-color--);
}
.heading{
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--first-color--);
  margin: 15px auto 10px 200px;
  padding: 0 1rem;
  max-width: 1100px;
}
.slideshow-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding: 1rem 1rem;
  margin-top: -20px;
  overflow: visible;
  
}
.slideshow{
  display: flex;
  background: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 35px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 30px;
  padding-left: 1px;
  border-radius: 8px;
  padding: 0.7rem;
  overflow-y: hidden;
}
.show {
  flex: 0 0 auto;
  width: 180px;
  border-radius: 8px;
  scroll-snap-align: start;
  position: relative;
  color: var(--secondcolor);
  transition: transform 0.3s ease;
  transform-origin: center center;
  padding-left: 10px;
  margin-top: 10px;
}

.show:hover {
  transform: scale(1.05);
  z-index: 3;
}

.show img {
  width: 180px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  color: var(--first-color--);
}

.showbtn {
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.show-number {
  position: absolute;
  bottom: -20px;
  left: -15px;
  font-size: 100px;
  font-weight: bold;
  color: var(--second-color--);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  z-index: 2;
  -webkit-text-stroke: 2px var(--first-color--);
  pointer-events: none;
}

.show-number:hover {
  transform: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(51, 51, 51, 0.5);
  color: var(--first-color--);
  font-size: 2.5rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.arrow:hover {
  background: #797878;
}

.arrow.left {
  left: -10px;
}

.arrow.right {
  right: -20px;
}

.arrow.hidden {
  display: none;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px;
  width: 260px;
  height: 250px;
  border: none;
  border-radius: 25px;
  color: var(--first-color--);
  background: linear-gradient(135deg, #192144, #1d182f, #200e18);
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.05);
}
.card h2{
  font-weight: 600;
  margin-bottom: 10px;
}
.card p{
  color: var(--third-color--);
  font-size: 1rem;
  line-height: 1.5;
}
.heading1{
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--first-color--);
  margin: 15px auto 10px 200px;
  padding: 0 1rem;
  max-width: 1100px;
}
.heading1 h2{
  margin: 0px;  
}
.icons{
  text-align: right;
  margin-bottom: -10px;
  padding: 0px;
}
.faq-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: var(--first-color--);
  font-family: "Outfit", sans-serif;
}

.faq-heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-question,
.faq-answer {
  width: 80vw;
  box-sizing: border-box;
}

.faq-question {
  width: 80vw;
  text-align: left;
  background-color: #303030;
  color: var(--first-color--);
  padding: 1.2rem;
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 2px;
}

.faq-answer {
  width: 80vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  background-color: #303030;
  padding: 0 1.2rem;
  margin: auto;
  font-size: 1.3rem;
  color: var(--third-color--);
}

.faq-item.active .faq-answer {
  max-height: 300px;
  padding: 1rem 1.2rem;
}

.faq-icon {
  font-size: 2.5rem;
  transition: transform 0.3s;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}
.end span{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 7px;
  font-weight: 400;
  font-size: 24px;
 color: var(--first-color--);
}
.question{
    background-color: var(--second-color--);
    font-size: 20px;
    color: var(--first-color--);  
}
.question ,.question1 a,.footer a{
    color: var(--first-color--);
}
.footer{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 300px 300px 300px 400px;
    justify-content: center;
    gap: 20px;
}
#btn4{ 
  border: 1.5px solid var(--third-color--);
  background: none;
  color: var(--first-color--);
  padding: 7px 20px;
  font-weight: 500;
  margin: 70px auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.end1{
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: var(--third-color--);
}
